.slide-1 {
  background-image:url('./images/slide-1.jpg');
}
.slide-23 {
  background-image:url('./images/slide-2.jpg');
}
.slide-4 {
  background-image:url('./images/slide-3.jpg');
}
.slide-5 {
  background-image:url('./images/slide-3-l.jpg');
}
.slide-6 {
  background-image:url('./images/slide-3-r.jpg');
}
.slide-7 {
  background-image:url('./images/page-7.jpg');
}
