.slide-1 {
  background-image:url('./images/page-index-persona-3.jpg');
}
.slide-4 {
  background-image:url('./images/page-4-persona-3.jpg');
}
.slide-5 {
  background-image:url('./images/page-5.jpg');
}
.slide-6 {
  background-image:url('./images/page-6.jpg');
}
.slide-23 {
  background-image:url('./images/page-123-persona-3.jpg');
}
.slide-7 {
  background-image:url('./images/page-7.jpg');
}
